body {
    /* (A) REMOVE DEFAULT PAGE SPACING */
    margin: 0;
    padding: 0;

    /* (B) FILL ENTIRE WINDOW */
    width: 100vw;
    min-height: 100vh;

    /* (C) BACKGROUND IMAGE */
    background-image: url("../bgimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.bttn {
    background-color: rgba(37, 86, 121, 0.554);
    padding: 1%;
    width: 15%;
    color: white;
    border-radius: 5px;
}

.nav2 input {
    margin: 8%;
    padding: 1.5%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    width: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.197);

}

::placeholder {
    color: white;
}