.footer{
    background-color: antiquewhite;
    top: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
a{
    margin-top: 2%;
    text-decoration: none;
    color: white;
    padding-bottom: 5%;

}